a{
    text-decoration: none;
}
/* 
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f0f0;
    height:80px;
}
.menu a{
    color: #098989;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px;
} */

.header{
    background: #dfe4ea;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header a{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color:#6c5ce7;
    padding: 0 20px;
}