

.country-box-inner{
    /* width: 350px; */
    background: #f1f2f6;
    /* padding: 20px; */
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#222;
   padding:30px;
 
}
.content-inner{
    text-align: center;
    padding: 0 20px;
}
.country-box-inner img{
    height:200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    /* border-radius: 10px 10px 0 0; */
}

.country-box-inner h4{
    font-size: 22px;
    line-height: 28px;
    padding-bottom: 10px;

}
.country-box-inner h6{
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
}
