*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-padding{
    padding:100px;
}

@media(max-width:1024px){
    .section-padding{
        padding:60px 40px;
    }
}
@media(min-width:1025px) and (max-width:1400px){
    .section-padding{
        padding:100px 40px;
    }
}
@media(max-width:767px){
.section-padding{
    padding:40px 20px;
}
}
